.content-balance{
  display: flex;
  max-width: 100%;
  flex-basis: 100%;
  background-color: #e8f5e9;
}

.balance-detail-container {
  max-width: 100%;
  flex-basis: 100%;
}

.ui-row {
  border-bottom: .0625em solid #b2dfdb;
  border-radius: .25em .25em 0 0;
  padding: 5px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.detail-transaction-amount {
  display: block;
  color: #003300;
}

.detail-transaction-date {
  display: block;
  font-size: .7em;
}

.credit{
  background-color: #90f790;
}

.debit{
  background-color: #b2dfdb;
}
