<div class="content-balance">
  <ul class="balance-detail-container">
    <li class="ui-row" *ngFor="let transaction of Transaction" [className]='transaction.transactionType'>

        <span>{{transaction.transactionType}}</span>
        <div class="detail-amount">
            <span class="detail-transaction-amount">
                {{transaction.amount}}
              </span>
              <span class="detail-transaction-date">
                {{transaction.effectiveDate}}
              </span>
        </div>
    </li>
  </ul>
</div>
